<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Loja Online</title>
</head>
<body>
  <h1>Bem-vindo à Loja Online</h1>
  <ul>
    <% products.forEach((product) => { %>
      <li>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.price %> R$</p>
        <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
        <a href="#">Comprar</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
